[flake8]
ignore =
    # C901 function is too complex
    C901

exclude =
    .git,
    .env,
    __pycache__,
    build,
    env,
    secrets,
    venv

max-complexity = 8

# flake8-import-order config
import-order-style = pycharm
application-import-names =
    docs,
    migrations,
    webapp,
