[flake8]
ignore =
    # C901 function is too complex
    C901

exclude =
    .git,
    .env,
    __pycache__,
    build,
    env,
    migrations,
    secrets,
    venv,

per-file-ignores =
    */__init__.py: D104,
    */flask_logs.py: D101, D102, D107,
    webapp/user/views.py: F401,
    webapp/__init__.py: D104, E402, I100, I202,

max-complexity = 8

# flake8-import-order config
import-order-style = pycharm
application-import-names =
    docs,
    migrations,
    webapp,
