<div class="container-fluid" style="background-color: #46602a; color: antiquewhite;">
    <div class="row align-items-start py-4 px-4">
        <div>
            <table>
                <tr>
                    <td class="border"><img src="{{ user.avatar(128) }}" alt="avatar"></td>
                    <td class="px-5">
                        <h2>Пользователь: {{ user.username }}</h2>
                        {% if user.email %}
                            <p>Почтовый ящик: {{ user.email }}</p>
                        {% endif %}
                        {% if user.last_seen %}
                            <p>Последний вход: {{ user.last_seen }}</p>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>