<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#171a21;color: #8F98A0!important;">
    <div class="container-fluid">
        <a class="navbar-brand">Steam Inventory Analyst</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="background-color:#171a21;color: #8F98A0!important;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.login') }}">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.register') }}">Регистрация</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.profile', username=current_user.username) }}">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.logout') }}">Выйти</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>