{% extends "base/page.html" %}
{% block content %}
    {% include "account/info.html" %}
    <div class="my-2" id="main_body">
        <div class="d-flex align-items-center justify-content-center py-3 p-1">
            {% if description %}
            <div><img src="https://community.akamai.steamstatic.com/economy/image/{{ description.icon_url_large }}/" alt="item icon"><br></div>
            <div class=""><h1>{{ description.market_name }}</h1><br>{{ description.value }}</div>
            {% endif %}
        </div>
    </div>
<script>
   var Canvas1 = document.getElementById("chart1").getContext("2d");
   var Canvas2 = document.getElementById("chart2").getContext("2d");
   var speedData = {
  labels: ["0s", "10s", "20s", "30s", "40s", "50s", "60s"],
  datasets: [{
    label: "Something",
    data: [0, 59, 75, 20, 20, 55, 40],
  }]
};
var chartOptions = {
    responsive: true,
    maintainAspectRatio: false,
    legend: {
        display: true,
        position: 'top',
        labels: {
            boxWidth: 80,
            fontColor: 'black'
        }
    }
};
var lineChart1 = new Chart(Canvas1, {
    type: 'line',
    data: speedData,
    options: chartOptions
});
var lineChart2 = new Chart(Canvas2, {
    type: 'line',
    data: speedData,
    options: chartOptions
});
</script>
{% endblock %}