<div class="d-flex flex-column align-items-center justify-content-top my-5 mx-1 py-3">
  <h4 class=""><b>Steam accounts</b></h4>
  <table class="table table-dark table-hover caption-top">
        {% if accounts %}
        {% for account in accounts %}
            <thead>
              <tr class="">
                <th class="">
                    <button class="flex-row accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#{{ account.username }}" aria-expanded="false"><b>{{ account.username }}</b></button>
                </th>
              </tr>
            </thead>
            <tbody class="">
              <tr class="collapse" onclick="openUrl(document.getElementById('{{ account.username }}').getAttribute('data-href'))" data-href="{{ url_for('account.account', steam_login=account.username) }}" id="{{ account.username }}">
                  <td>
                    <span class="spinner-border spinner-border-sm m-1" role="status"></span>
                      Loading...
                  </td>
              </tr>
            </tbody>
        {% endfor %}
        {% else %}
            <thead>
            <tr class="">
                <th class="d-flex flex-row align-items-center justify-content-start">
                  <div class="d-inline-flex m-1">Нет подключенных аккаунтов</div>
                </th>
            </tr>
            </thead>
        {% endif %}
            <thead>
              <tr>
                <th colspan="12">
                  <a href="{{ url_for('account.create_session') }}" class="btn btn-secondary" role="button">Добавить</a>
                </th>
              </tr>
            </thead>
  </table>
</div>
<script>
function openUrl(link) {
    location.href = link;
}
</script>