<div class="container-fluid" style="background-color: #46602a; color: antiquewhite;">
    <div class="row align-items-start py-4 px-4">
        <div>
            <table>
                <tr>
                    <td class="border"><img src="https://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/f1/f1a29c3020bbf79d64e7540ad14064d4acf71889_full.jpg" alt="avatar"></td>
                    <td class="px-5">
                        <h2>Аккаунт: </h2>
                        <h2 id="demo"></h2>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
document.getElementById("demo").innerHTML = window.location.pathname;
</script>