<div class="container-fluid" style="background-color: #46602a; color: antiquewhite;">
    <div class="row align-items-start py-4 px-4">
        <div>
            <table>
                <tr>
                    <td class="border"><img src="{{ account.avatar_url }}" alt="avatar" width="128px" height="128px"></td>
                    <td class="px-5">
                        <h2>Аккаунт: {{ account.username }}</h2>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>